<html>
<head>
  <title> Dummmy Client </title>
    <link rel="stylesheet" href="static/normalize.min.css">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-responsive.min.css">
  <script src="static/jquery-2.0.0.min.js"></script>
  <script src="static/underscore-min.js"></script>
  <script src="static/database.js"></script>
  <script src="static/app.js"></script>
</head>
<script type="text/template" id="tableTemplate">
    <div class="row-fluid" style="margin-top:10%">
        <div class="span4 offset4">
          <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
		      <th> Id </th>
		      <% _.each(table.headers, function(header) { %>
                      <th><%= header %></th>
                      <% }); %>
                    </tr>
                </thead>
                <tbody>
                  <% _.each(table.getRecords(), function(fields,id) { %>
                  <tr>
		    <td> <%= id %> </td>
		    <% _.each(fields, function(f) { %>
                    <td><%= f  %></td>
		    <% }); %>
                  </tr>
		  <% }); %>
                </tbody>

          </table>
        </div>
    </div>
</script>

<script type="text/template" id="tableNameTemplate">
    <div class="row-fluid">
	<form class="form-search" id="formTableName">
	  <input type="text" class="input-medium search-query" id="tableName" placeholder="Enter Table Name" autofocus>
	  <button type="submit" class="btn">Get</button>
	</form>
    </div>
</script>


<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="viewport2"> </div>
      <div id="viewport">
      </div>
    </div>
  </div>
  <script type="text/javascript">
    
//    $("#target").click(function() {
//    $.ajax({
//    url: "http://127.0.0.1:3000/db/0",
//    }).done(function(data) { 
//    $("#data").html("<pre>"+data+"</pre>");
//    });
//    });
  </script>
</body>
</html>
